.signform,
.editform {
  transition: padding 0.2s linear 0s;
  font-family: 微软雅黑;
  position: fixed;
  background-color: #fff;
  /* border: #c6cacc 1px solid; */
  border-top: 1px solid #c6cacc;
  border-left: 1px solid #c6cacc;
  border-right: 1px solid #c6cacc;
  /* opacity: 0.9; */
  color: #000;
  top: 4%;
  left: 8%;
  width: 85%;
  margin: auto;
  height: 95%;
  padding: 5px;
  /* border-radius: 1em; */
  text-align: center;
  z-index: 999;
}
.ticketsign,
.editticket {
  transition: padding 0.2s linear 0s;
  font-family: 微软雅黑;
  position: fixed;
  background-color: #000;
  opacity: 0.9;
  color: #fff;
  top: 20%;
  left: 8%;
  width: 85%;
  margin: auto;
  height: 60%;
  padding: 5px;
  /* border-radius: 1em; */
  text-align: center;
  z-index: 999;
}
#registerform,
#editregister,
#ticketregister,
.editticketcontain {
  height: 450px;
}
.signclose,
.editclose,
.ticketclose,
.editticketclose {
  cursor: pointer;
  float: right;
  overflow: hidden;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  /* height: 35px; */
  width: 35px;
  margin-top: 10px;
  margin-right: 10px;
}
/* #registerloading{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 410px;
    top: 90px;
} */
/* .signinput{
    text-align: center;
    border-radius: 0.2em;
    width: 280px;
    height: 45px;
    border: none;
    background-color:#ffffff;
    font-size: 28px;
} */
/* .signinput::-webkit-input-placeholder {
    font-size: 26px;
} */
/* .userdiv {
    position: relative;
    margin-top: 80px;
    display: flex;
} */
/* .pwddiv {
    position: relative;
    margin-top: 20px;
} */
.postdiv {
  position: relative;
  width: 10%;
  margin-top: 20px;
}
.postdiv button {
  cursor: pointer;
  color: white;
  font-size: 26px;
  border: none;
  border-radius: 0.4em;
  width: 280px;
  height: 45px;
  background-color: #4caf50;
}
.color_card {
  width: 5.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  height: 5%;
  color: #000;
  cursor: pointer;
  border: #000 1px solid;
  object-fit: cover;
}
.color_card:hover {
  opacity: 0.5;
}
.addupload_icon {
  font-weight: bold;
  font-size: 300%;
  position: absolute;
  left: 0;
  width: 100%;
  top: 30%;
}

/* 滑桿 */
.switch {
  position: relative;
  width: 65px;
  height: 30px;
  line-height: 30px;
}
.switch-checkbox {
  display: none;
}
.switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}
.switch-txt {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.switch-txt::before,
.switch-txt::after {
  display: block;
  float: right;
  width: 50%;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
  text-align: left;
}
.switch-txt::after {
  content: attr(turnOn);
  padding-left: 10px;
  background: #1ba0ef;
  color: #fff;
}
.switch-txt::before {
  content: attr(turnOff);
  padding-right: 10px;
  background: rgb(202, 195, 195);
  color: #000;
  text-align: right;
}
.switch-Round-btn {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  margin: 2px;
  background: #fff;
  top: 0;
  bottom: 0;
  right: 35px;
  border-radius: 13px;
  transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-txt {
  margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-Round-btn {
  right: 0;
}
/* 上傳圖片 */
.upload_img {
  height: auto;
  width: 100%;
  object-fit: contain;
}
