.item__list-item{
    

    a{
        display: block;
    }
    figcaption{
        margin-top: 1rem;
        text-align: center;
    }

    &:not(:first-child){
        margin-left: 3rem;
    }

}
.item__list-sale{

}
.item__list-name{
    font-size: $default-font-size;
    letter-spacing: .1em;
    margin-top: 7px;
}
.item__state{
    @include displayflex;
    align-content:center;
    
    
}
.item__list-price{
    white-space: nowrap;
    color: $color-grey-dark-2;
    font-size: $small-font-size;
    letter-spacing: .1em;
    margin-bottom: 7px;
}
.item__list-item a:hover  .item__list-photo::before{
    opacity: .5;
}
.related__list-item a:hover .related__list-photo::before {
    opacity: .5;
}
.item__list-photo{
//    border: solid 1px;
    padding-top: 150%;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 100%;


    &::before{
        background-color: $color-black;
        content: "";
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        width: 100%;
        z-index: 1000;
    }

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100%;
    
    }
}